### Here we will poke around and test at some correllation tests and plots before deciding on a data story to tell in another notebook

In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
import nltk
import datetime
import math
#from sqlalchemy import create_engine
#nltk.download()

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [28]:
Housing_data = pd.read_csv('cleaned_1.csv')
Housing_data = Housing_data.set_index(['parcelid','Unnamed: 1'])
del Housing_data['garagetotalsqft']
del Housing_data['regionidcounty']
del Housing_data['airconditioningtypeid']
del Housing_data['heatingorsystemtypeid']
del Housing_data['calculatedbathnbr']
del Housing_data['landtaxvaluedollarcnt']
del Housing_data['structuretaxvaluedollarcnt']
Housing_data.head()

,,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,garagecarcnt,latitude,longitude,...,bathroom_number_category,decktypeid,poolsizesum,yardbuildingsqft17,yardbuildingsqft26,fireplacecnt,taxdelinquencyyear,pooltypeid,transactiondate,logerror
parcelid,Unnamed: 1,,,,,,,,,,,,,,,,,,,,,
17073783,0,2,3.0,-1,1264.0,1264.0,6111,2,2,34303597.0,-119287236.0,...,0,0,0.0,128.0,0.0,0,NaN,0,2016-01-27,0.0953
17088994,1,1,2.0,-1,777.0,777.0,6111,1,1,34272866.0,-119198911.0,...,1,0,0.0,198.0,0.0,0,NaN,0,2016-03-30,0.0198
17100444,2,2,3.0,-1,1101.0,1101.0,6111,2,2,34340801.0,-119079610.0,...,2,0,0.0,0.0,0.0,0,NaN,0,2016-05-27,0.0060
17102429,3,1,2.0,-1,1554.0,1554.0,6111,1,2,34354313.0,-119076405.0,...,3,0,0.0,0.0,0.0,1,NaN,0,2016-06-07,-0.0566
17109604,4,2,4.0,-1,2415.0,2415.0,6111,2,2,34266578.0,-119165392.0,...,0,0,0.0,0.0,0.0,1,NaN,0,2016-08-08,0.0573

In [29]:
Housing_data.describe()

,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,garagecarcnt,latitude,longitude,...,taxamount,censustractandblock,bathroom_number_category,decktypeid,poolsizesum,yardbuildingsqft17,yardbuildingsqft26,fireplacecnt,pooltypeid,logerror
count,167805.000000,167805.000000,167805.000000,166992.000000,159519.000000,167805.000000,167805.000000,167805.000000,1.678050e+05,1.678050e+05,...,167794.000000,1.670020e+05,167805.000000,167805.000000,167805.000000,167805.000000,167805.000000,167805.000000,167805.000000,167805.000000
mean,2.223432,3.042627,3.480605,1778.630246,1752.326939,6048.835690,2.211519,-0.070177,3.400673e+07,-1.182010e+08,...,5989.373165,6.049390e+13,2.572945,0.007580,5.683949,9.246471,0.266726,0.126850,0.983654,0.013914
std,0.988540,1.148126,3.690774,940.356025,921.360898,20.690315,1.014684,1.367576,2.651132e+05,3.599530e+05,...,7212.175482,1.054137e+12,2.081016,0.086734,56.416211,65.685803,12.511396,0.400143,1.957168,0.165487
min,0.000000,0.000000,-1.000000,2.000000,2.000000,6037.000000,-1.000000,-1.000000,3.333930e+07,-1.194754e+08,...,19.920000,6.037101e+13,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.655420
25%,2.000000,2.000000,-1.000000,1183.000000,1172.000000,6037.000000,2.000000,-1.000000,3.381289e+07,-1.184130e+08,...,2799.002500,6.037312e+13,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.025300
50%,2.000000,3.000000,4.000000,1541.000000,1520.000000,6037.000000,2.000000,-1.000000,3.402160e+07,-1.181768e+08,...,4501.435000,6.037604e+13,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006000
75%,3.000000,4.000000,7.000000,2103.000000,2065.000000,6059.000000,3.000000,2.000000,3.417333e+07,-1.179246e+08,...,6914.630000,6.059042e+13,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.039200
max,20.000000,16.000000,12.000000,35640.000000,21929.000000,6111.000000,20.000000,24.000000,3.481877e+07,-1.175546e+08,...,586639.300000,4.830301e+14,21.000000,1.000000,1750.000000,3191.000000,1366.000000,5.000000,5.000000,5.262999

In [33]:
Housing_data['transactiondate'] = pd.to_datetime(Housing_data['transactiondate'], format = '%Y-%m-%d', errors = 'coerce')
Housing_data['yearbuilt'] = pd.to_datetime(Housing_data['yearbuilt'], format='%Y-%m-%d', errors='coerce')
Housing_data['assessmentyear'] = pd.to_datetime(Housing_data['assessmentyear'], format='%Y-%m-%d', errors='coerce')
Housing_data['taxdelinquencyyear'] = pd.to_datetime(Housing_data['taxdelinquencyyear'], format='%Y-%m-%d', errors='coerce')

In [34]:
Housing_data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 167805 entries, (17073783, 0) to (14737537, 77578)
Data columns (total 35 columns):
bathroomcnt                     167805 non-null int64
bedroomcnt                      167805 non-null float64
buildingqualitytypeid           167805 non-null int64
calculatedfinishedsquarefeet    166992 non-null float64
finishedsquarefeet12            159519 non-null float64
fips                            167805 non-null int64
fullbathcnt                     167805 non-null int64
garagecarcnt                    167805 non-null int64
latitude                        167805 non-null float64
longitude                       167805 non-null float64
lotsizesquarefeet               149427 non-null float64
propertycountylandusecode       167805 non-null int64
propertylandusetypeid           167805 non-null int64
propertyzoningdesc              167805 non-null int64
rawcensustractandblock          167805 non-null float64
regionidcity                    167805 non-null int64
regionidneighborhood            167805 non-null int64
regionidzip                     167805 non-null int64
roomcnt                         167805 non-null int64
unitcnt                         167805 non-null int64
yearbuilt                       166828 non-null datetime64[ns]
taxvaluedollarcnt               167803 non-null float64
assessmentyear                  167805 non-null datetime64[ns]
taxamount                       167794 non-null float64
censustractandblock             167002 non-null float64
bathroom_number_category        167805 non-null int64
decktypeid                      167805 non-null int64
poolsizesum                     167805 non-null float64
yardbuildingsqft17              167805 non-null float64
yardbuildingsqft26              167805 non-null float64
fireplacecnt                    167805 non-null int64
taxdelinquencyyear              3320 non-null datetime64[ns]
pooltypeid                      167805 non-null int64
transactiondate                 167805 non-null datetime64[ns]
logerror                        167805 non-null float64
dtypes: datetime64[ns](4), float64(14), int64(17)
memory usage: 48.0 MB

## First organize columns into continuous, ordinal, categorical etc.

In [49]:
cont_cols = ['calculatedfinishedsquarefeet','finishedsquarefeet12','latitude','longitude',
            'lotsizesquarefeet','taxvaluedollarcnt','taxamount','poolsizesum','propertyzoningdesc',
             'yardbuildingsqft17','yardbuildingsqft26','rawcensustractandblock','censustractandblock']
ord_cols = ['buildingqualitytypeid','bathroomcnt','bedroomcnt','fullbathcnt','garagecarcnt','roomcnt','unitcnt',
           'fireplacecnt']
cat_cols = ['propertycountylandusecode','propertylandusetypeid',
           'propertylandusetypeid','regionidcity','regionidneighborhood',
           'regionidzip','decktypeid','pooltypeid']
date_cols = ['yearbuilt','assessmentyear','taxdelinquencyyear','transactiondate']

In [50]:
for col in cont_cols:
    correl = Housing_data[col].corr(Housing_data['logerror'])
    print(col, correl)

calculatedfinishedsquarefeet 0.0397104454726
finishedsquarefeet12 0.0439771169822
latitude -0.00272465842701
longitude 0.00534421808767
lotsizesquarefeet 0.00782646325608
taxvaluedollarcnt 0.00429764167844
taxamount -0.00309989704541
poolsizesum -0.00419437423264
propertyzoningdesc 0.00217036976099
yardbuildingsqft17 -0.00195256361826
yardbuildingsqft26 -0.00171845300943
rawcensustractandblock 0.00743580710626
censustractandblock 0.00413171276405

In [51]:
for col in ord_cols:
    correl = Housing_data[col].corr(Housing_data['logerror'])
    print(col, correl)

buildingqualitytypeid -0.0100798852204
bathroomcnt 0.0262657981966
bedroomcnt 0.0287983458474
fullbathcnt 0.0247077272959
garagecarcnt 0.0108837384097
roomcnt 0.0100049500909
unitcnt -0.00626831555283
fireplacecnt 0.00509950477901

In [48]:
for col in cat_cols:
    print(Housing_data[[col, 'logerror']].groupby([col], 
                                             as_index=False).mean().sort_values(by='logerror', ascending=False))

    propertycountylandusecode  logerror
23                         22  0.340361
74                         73  0.206289
42                         41  0.110972
68                         67  0.107198
64                         63  0.102160
58                         57  0.048578
40                         39  0.048044
49                         48  0.036599
60                         59  0.035651
47                         46  0.033130
70                         69  0.031664
65                         64  0.031583
52                         51  0.031158
71                         70  0.030003
37                         36  0.028805
34                         33  0.025037
67                         66  0.024616
38                         37  0.023682
50                         49  0.023248
51                         50  0.020251
18                         17  0.019340
13                         12  0.019045
12                         11  0.017921
9                           8  0.016996
3                           2  0.016735
2                           1  0.016627
21                         20  0.015902
0                          -1  0.015900
14                         13  0.015575
76                         75  0.014900
..                        ...       ...
57                         56  0.009079
29                         28  0.008685
39                         38  0.008187
32                         31  0.007290
77                         76  0.003000
22                         21  0.002773
55                         54  0.001546
19                         18  0.000225
66                         65 -0.000525
61                         60 -0.002472
35                         34 -0.002851
48                         47 -0.002954
75                         74 -0.003302
25                         24 -0.003802
20                         19 -0.005796
44                         43 -0.007271
24                         23 -0.008361
28                         27 -0.011425
62                         61 -0.014320
54                         53 -0.015179
53                         52 -0.017455
63                         62 -0.022155
56                         55 -0.022928
45                         44 -0.028631
46                         45 -0.033245
72                         71 -0.048910
59                         58 -0.091969
69                         68 -0.095769
73                         72 -0.162442
43                         42 -0.208465

[78 rows x 2 columns]
    propertylandusetypeid  logerror
1                      47  1.301000
7                     263  0.098636
5                     260  0.059426
13                    275  0.048018
11                    267  0.039500
8                     264  0.025349
9                     265  0.017771
6                     261  0.014942
2                     246  0.013990
10                    266  0.011537
4                     248  0.010115
12                    269  0.009372
3                     247 -0.000871
0                      31 -0.015197
    propertylandusetypeid  logerror
1                      47  1.301000
7                     263  0.098636
5                     260  0.059426
13                    275  0.048018
11                    267  0.039500
8                     264  0.025349
9                     265  0.017771
6                     261  0.014942
2                     246  0.013990
10                    266  0.011537
4                     248  0.010115
12                    269  0.009372
3                     247 -0.000871
0                      31 -0.015197
     regionidcity  logerror
56          24797  1.268250
64          25621  0.225381
1            3491  0.219793
101         36502  0.094056
45          18875  0.093658
8            6822  0.092457
105         37882  0.067700
63          25468  0.060231
25          13232  0.056547
50          21778  0.053855
146         53162  0.053147
162        114834  0.052197
89          33312  0.050631
35          16389  0.050400
129         46314  0.047156
78          30267  0.043898
70          26965  0.041079
36          16677  0.040301
116         42091  0.040121
51          22827  0.039635
164        118217  0.038764
102         37015  0.037470
145         53027  0.036610
156         54970  0.036542
173        272578  0.036531
43          18098  0.034812
166        118694  0.034323
172        118994  0.034163
40          17597  0.033583
109         39306  0.033207
..            ...       ...
82          32380  0.007228
103         37086  0.006730
124         45888  0.005150
33          15237  0.004751
3            5465  0.004402
5            6021  0.003750
79          30399  0.002136
69          26964  0.002091
177        396551  0.001464
136         48424  0.000808
168        118878 -0.001545
125         46080 -0.002623
29          14111 -0.003397
174        396053 -0.005118
121         45398 -0.005227
159        113412 -0.008825
76          29712 -0.008848
140         51617 -0.008979
126         46098 -0.010230
6            6285 -0.015100
12          10389 -0.017502
46          19177 -0.017561
152         54299 -0.024137
169        118880 -0.032187
73          27183 -0.032346
107         38980 -0.046421
32          14906 -0.054173
48          21395 -0.073681
81          31134 -0.119211
100         36078 -0.150279

[179 rows x 2 columns]
     regionidneighborhood  logerror
27                  36630  0.344266
360                760999  0.342250
257                275795  0.238645
313                416314  0.200145
454                763185  0.183288
424                762944  0.174150
371                761214  0.165500
375                761219  0.148395
422                762940  0.143775
440                762961  0.133606
503                764165  0.130200
434                762954  0.124917
381                761542  0.117533
419                762937  0.115100
54                 114909  0.114967
161                272912  0.114335
203                274343  0.113536
110                268132  0.106920
108                268103  0.104687
295                403193  0.104426
254                275778  0.102624
242                275340  0.102017
439                762960  0.097132
351                417433  0.096394
58                 115657  0.094277
504                764166  0.093981
184                273607  0.091715
216                274587  0.085069
153                268596  0.082986
166                273042  0.077550
..                    ...       ...
446                763080 -0.034875
397                762187 -0.036391
81                 135143 -0.036525
115                268162 -0.039694
345                416964 -0.040615
228                274961 -0.041031
399                762189 -0.041277
159                272732 -0.041900
430                762950 -0.049221
405                762682 -0.049620
144                268540 -0.055909
391                762180 -0.056025
394                762184 -0.056581
176                273313 -0.057261
353                623377 -0.058362
383                761544 -0.063770
402                762192 -0.065137
100                267814 -0.079674
409                762890 -0.079817
460                763679 -0.084091
403                762193 -0.086835
389                762178 -0.106833
356                623380 -0.116518
74                 118106 -0.130566
239                275287 -0.138100
38                  47913 -0.149615
208                274418 -0.205550
497                764146 -0.240027
505                764167 -0.247257
373                761217 -1.163749

[506 rows x 2 columns]
     regionidzip  logerror
286        96951  0.238645
132        96207  0.195996
384        97324  0.170259
373        97111  0.146424
51         96039  0.135563
0             -1  0.091083
388        97331  0.086024
22         96004  0.080876
50         96038  0.067360
182        96323  0.065135
253        96480  0.060299
389        97344  0.058573
48         96034  0.057300
138        96216  0.056707
379        97316  0.055627
320        97001  0.052274
101        96136  0.052236
312        96986  0.050617
267        96508  0.050185
337        97037  0.047704
290        96957  0.046013
140        96218  0.045630
374        97113  0.045366
130        96204  0.043287
378        97298  0.042416
321        97003  0.041976
139        96217  0.040850
347        97059  0.040108
146        96228  0.038860
218        96387  0.038276
..           ...       ...
61         96050 -0.010690
295        96963 -0.011393
27         96009 -0.011656
65         96086 -0.012584
78         96105 -0.012614
103        96148 -0.013265
72         96097 -0.013897
11         95993 -0.014033
53         96042 -0.015463
95         96127 -0.015749
54         96043 -0.016704
102        96137 -0.017589
86         96117 -0.018374
37         96020 -0.018913
58         96047 -0.019726
307        96980 -0.020003
234        96434 -0.021498
178        96296 -0.023535
98         96133 -0.024705
349        97064 -0.025398
1          95982 -0.029122
169        96280 -0.030344
246        96467 -0.034146
3          95984 -0.046500
390       399675 -0.058808
20         96002 -0.139250
187        96329 -0.141535
145        96226 -0.156557
359        97088 -0.351697
362        97092 -1.897475

[391 rows x 2 columns]
   decktypeid  logerror
0           0  0.013922
1           1  0.012814
   pooltypeid  logerror
0           0  0.014670
1           1  0.013998
2           2  0.011722
3           5  0.010921