In [1]:
import pandas as pd
import numpy as np
import random as rnd
import nltk
import datetime
import math
from sqlalchemy import create_engine
#nltk.download()

In [2]:
#vals_2016 = pd.read_csv('train_2016_v2.csv')
#vals_2017 = pd.read_csv('train_2017.csv')

csv_database = create_engine('sqlite:///csv_database.db')

# Next we load a the 2016 dataset into a SQL engine table chunk by chunk
chunksize = 10000
i_1 = 0
j_1 = 1
for df in pd.read_csv('properties_2016.csv', chunksize=chunksize, iterator=True):
      df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
      df.index += j_1
      i_1+=1
      df.to_sql('table_2016', csv_database, if_exists='append')
      j = df.index[-1] + 1
#now we do the same for 2017 into another table
i_2 = 0
j_2 = 1
for df in pd.read_csv('properties_2017.csv', chunksize=chunksize, iterator=True):
      df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
      df.index += j_2
      i_2+=1
      df.to_sql('table_2017', csv_database, if_exists='append')
      j = df.index[-1] + 1
        
        
i_3 = 0
j_3 = 1
for df in pd.read_csv('train_2016_v2.csv', chunksize=chunksize, iterator=True):
      df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
      df.index += j_3
      i_3+=1
      df.to_sql('vals_2016', csv_database, if_exists='append')
      j = df.index[-1] + 1
        
i_4 = 0
j_4 = 1
for df in pd.read_csv('train_2017.csv', chunksize=chunksize, iterator=True):
      df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
      df.index += j_4
      i_4+=1
      df.to_sql('vals_2017', csv_database, if_exists='append')
      j = df.index[-1] + 1
#df = pd.read_sql_query('SELECT COl1 table_2017', csv_database)
#df.head()

In [3]:
df2016 = pd.read_sql_query('Select * From table_2016 T inner join vals_2016 V on T.parcelid = V.parcelid', csv_database)
df2017 = pd.read_sql_query('Select * From table_2017 T inner join vals_2017 V on T.parcelid = V.parcelid', csv_database)

In [4]:
df2016.to_csv('2016short.csv')
df2017.to_csv('2017short.csv')

In [5]:
df2016.head()

,index,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,index,parcelid,logerror,transactiondate
0,363,17073783,NaN,NaN,NaN,2.5,3.0,NaN,NaN,2.5,...,2015,76724.0,2015.06,None,NaN,6.111002e+13,5558,17073783,0.0953,2016-01-27
1,429,17088994,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,2015,95870.0,2581.30,None,NaN,6.111002e+13,20708,17088994,0.0198,2016-03-30
2,471,17100444,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,2015,14234.0,591.64,None,NaN,6.111001e+13,39718,17100444,0.0060,2016-05-27
3,481,17102429,NaN,NaN,NaN,1.5,2.0,NaN,NaN,1.5,...,2015,17305.0,682.78,None,NaN,6.111001e+13,42867,17102429,-0.0566,2016-06-07
4,508,17109604,NaN,NaN,NaN,2.5,4.0,NaN,NaN,2.5,...,2015,277000.0,5886.92,None,NaN,6.111001e+13,63904,17109604,0.0573,2016-08-08